# Example workflow
name: Validate Formatting

on:
  push:
  pull_request:

jobs:
  formatting:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run Google Java Format
        uses: axel-op/googlejavaformat-action@v3
        with:
          args: --skip-sorting-imports --replace